#sec{
    display: grid;
    grid-template-columns: auto auto auto;
}
img{
    width: 50px;
}
#art{
    display: flex;
    font-size: 22px;
    font-weight: 600;
    background-color: aliceblue;
    width: 300px;
    padding: 10px;
    border-radius: 10px;

}
#sec #art{
    margin: 40px;
}